version: "3.7"
services:
  %REPO%:
    build:
      context: .
    image: %REPO%:%TAG%
    entrypoint: "tail -f /dev/null"
    ports:
      - "%LOCAL_PORT%:%EXPOSE%"
    volumes:
      - type: bind
        source: "%VOLUME_SOURCE%"
        target: "%WORKDIR%"
